# LaTeX auxiliary files
*.aux
*.out
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.dvi
*.xdv
*.idx
*.ilg
*.ind
*.acn
*.acr
*.glo
*.gls
*.glg
*.thm
*.brf
*.pdfsync
*-blx.bib
*-blx.aux
_minted*
*.pyg
